<launch>
  <!-- the usb_cam node -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <!-- the thermal detector -->
  <node name = "thermal_detector" pkg = "thermal_detector" type = "thermal_detector.py" output = "screen" respawn = "true" />

  <!-- the color detector -->
  <node name = "color_detector" pkg = "color_detect" type = "detect_color.py" output = "screen" respawn = "true" />
</launch>
