<?xml version="1.0"?>

<model>
  <name>bottle_duvel_blue</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Maarten De Smet</name>
    <email>maarten.desmet2@student.kuleuven.be</email>
  </author>

  <description>
      a bottel will be simulated as a cilinder whit dimensions 0.05x0.2
      this is the basic version, other versions wil have color/texture.
  </description>
</model>
